// ***********************************************************************
// Assembly         : TimesheetLaikas
// Author           : Donatas & Matt
// Created          : 12-02-2020
//
// Last Modified By : Donatas & Matt
// Last Modified On : 12-07-2020
// ***********************************************************************
// <copyright file="Index.cshtml" company="TimesheetLaikas">
    //     Copyright (c) HP Inc.. All rights reserved.
    //
</copyright>
// <summary></summary>
// ***********************************************************************
@model IEnumerable<TimesheetLaikas.Models.Division>

@{
    ViewData["Title"] = "Index";
}

<h2>Division Index</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DivisionName)
            </th>
            <th>
                Division Chair
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DivisionName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.EMP_FNAME)
                    @Html.DisplayFor(modelItem => item.Employee.EMP_LNAME)
                </td>

                <td>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-edit"></i> Edit</a>

                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-trash-alt"></i>  Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<p>
    <a class="btn btn-primary btn-sm" asp-action="Create"><i class="fas fa-plus"></i>  Create New Division</a>
</p>