// ***********************************************************************
// Assembly         : TimesheetLaikas
// Author           : Donatas & Matt
// Created          : 12-02-2020
//
// Last Modified By : Donatas & Matt
// Last Modified On : 12-07-2020
// ***********************************************************************
// <copyright file="Index.cshtml" company="TimesheetLaikas">
    //     Copyright (c) HP Inc.. All rights reserved.
    //
</copyright>
// <summary></summary>
// ***********************************************************************
@model IEnumerable<TimesheetLaikas.Models.Department>

@{
    ViewData["Title"] = "Index";
}

<h2>Department Index</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">@Html.DisplayNameFor(model => model.DeptName)</a>
            </th>
            <th scope="col">
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DivSortParm"]"> @Html.DisplayNameFor(model => model.Division.DivisionName)</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DeptName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Division.DivisionName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary"><i class="fas fa-edit"></i> Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary"><i class="fas fa-edit"></i> Employee Directory</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-trash-alt"></i> Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<p>

    <a class="btn btn-primary btn-sm" asp-action="Create"><i class="fas fa-plus"></i>  Add a New Department</a>
</p>