@model IEnumerable<TimesheetLaikas.Models.Timesheet>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
        <a class="btn btn-primary" asp-action="Create"><i class="fas fa-plus"></i>  Create New</a>
    </p>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">@Html.DisplayNameFor(model => model.Employee)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]"> @Html.DisplayNameFor(model => model.PunchIn)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PunchOut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalWorkTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)

                <div class="col-lg-12">
                    <div class="button-group">
                        <form asp-action="Index" method="get">
                            <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown"><i class="fas fa-filter"></i></button>
                            <ul class="dropdown-menu">
                                <li><a href="#" class="small" data-value="option1" tabIndex="-1"><input type="checkbox" value="Pending" name="statusString" />&nbsp;Pending</a></li>
                                <li><a href="#" class="small" data-value="option2" tabIndex="-1"><input type="checkbox" value="Approved" name="statusString" />&nbsp;Approved</a></li>
                                <li><a href="#" class="small" data-value="option3" tabIndex="-1"><input type="checkbox" value="Rejected" name="statusString" />&nbsp;Rejected</a></li>
                                <li><input type="submit" class="btn btn-primary" value="Apply filter" /></li>
                            </ul>
                        </form>
                    </div>
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.FULL_NAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PunchIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PunchOut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalWorkTime)
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.TotalPay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-edit"></i> Edit</a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-trash-alt"></i> Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>

