@model IEnumerable<TimesheetLaikas.Models.Timesheet>

@{
    ViewData["Title"] = "ViewTimesheets";
}

<table class="table">
    <thead>
        <tr>
           
            <th>
                @Html.DisplayNameFor(model => model.PunchIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PunchOut)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.TotalWorkTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPay)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
           
            <td>
                @Html.DisplayFor(modelItem => item.PunchIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PunchOut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalWorkTime)
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.TotalPay)
            </td>
        </tr>
        }
    </tbody>
</table>
